Source: et
Section: universe/net
Priority: optional
Maintainer: Jason Gauci <jgmath2000@gmail.com>
Build-Depends: debhelper (>=9), libsodium-dev, libprotobuf-dev, protobuf-compiler, cmake, dh-systemd, libutempter-dev, libunwind-dev
Standards-Version: 3.9.7
Homepage: https://mistertea.github.io/EternalTCP/
#Vcs-Git: git://anonscm.debian.org/collab-maint/et.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/et.git

Package: et
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libgcc1 (>= 1:3.3), libprotobuf-dev, libsodium-dev, libstdc++6, libtinfo5, libutempter-dev
Description: Remote terminal for the busy and impatient
 Eternal Terminal is a remote shell that automatically reconnects without interrupting the session.
