[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
[submodule "external/ThreadPool"]
	path = external/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "external/easyloggingpp"]
	path = external/easyloggingpp
	url = https://github.com/zuhd-org/easyloggingpp.git
[submodule "external/sanitizers-cmake"]
	path = external/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "external/cotire"]
	path = external/cotire
	url = https://github.com/sakra/cotire.git
[submodule "external/UniversalStacktrace"]
	path = external/UniversalStacktrace
	url = https://github.com/MisterTea/UniversalStacktrace.git
