[submodule "cmake/external/googletest"]
	path = cmake/external/googletest
	url = https://github.com/google/googletest.git
[submodule "cmake/external/protobuf"]
	path = cmake/external/protobuf
	url = https://github.com/google/protobuf.git
