[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/msgpack-c"]
	path = external/msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
	branch = cpp_master
[submodule "external/ThreadPool"]
	path = external/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "external/easyloggingpp"]
	path = external/easyloggingpp
	url = https://github.com/MisterTea/easyloggingpp.git
[submodule "external/sanitizers-cmake"]
	path = external/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "external/cotire"]
	path = external/cotire
	url = https://github.com/sakra/cotire.git
[submodule "external/UniversalStacktrace"]
	path = external/UniversalStacktrace
	url = https://github.com/MisterTea/UniversalStacktrace.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/sentry-native"]
	path = external/sentry-native
	url = https://github.com/getsentry/sentry-native.git
[submodule "external/cpp-httplib"]
	path = external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external/PlatformFolders"]
	path = external/PlatformFolders
	url = https://github.com/sago007/PlatformFolders.git
[submodule "external/sole"]
	path = external/sole
	url = https://github.com/r-lyeh-archived/sole.git
[submodule "external/simpleini"]
	path = external/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/base64"]
	path = external/base64
	url = https://github.com/tkislan/base64.git
