#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@ --parallel --with systemd --buildsystem=cmake --builddirectory=build

override_dh_auto_configure:
	dh_auto_configure -- -DDISABLE_VCPKG:BOOL=ON

override_dh_install:
	dh_install
	mkdir -p debian/et/etc
	cp ./etc/et.cfg debian/et/etc/

override_dh_auto_test:
	: # Disable ctest on debian because of odd errors on ubuntu 18.04
