# Editors and OS
.DS_Store
.vs
CMakeSettings.json
.idea

# CMake builds & install
/*build*
/*install*

# Run files
.sentry-native

# Python
.venv
__pycache__

# Devtools
CodeChecker
.ccls-cache

# Coverage
coverage

# Gradle / Java
local.properties
.gradle
.cxx
build

# .NET
bin/
obj/
