[submodule "external/libunwindstack-ndk"]
	path = external/libunwindstack-ndk
	url = https://github.com/getsentry/libunwindstack-ndk
[submodule "external/breakpad"]
	path = external/breakpad
	url = https://github.com/getsentry/breakpad.git
[submodule "external/third_party/lss"]
	path = external/third_party/lss
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "external/crashpad"]
	path = external/crashpad
	url = https://github.com/getsentry/crashpad.git
	branch = getsentry
