[Unit]
Description=Eternal Terminal
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/etserver --daemon --cfgfile=/etc/et.cfg

[Install]
WantedBy=multi-user.target
